/* Developed by Malva Group */

@font-face{
    font-family: ig-ios;
     src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face{
    font-family: ig-android;
     src: url("../fonts/Roboto-Light.ttf");
}

:root {
    --light-blue: #2695F3;
    --dark-blue-link: #324978;
    --gray-border: #bbbbbb;
    --gray-bc: #fafafa;
    --preto: #262626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 62.5% */
}

body {
    font-family: "ig-ios";
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100dvh;
    background-color: var(--gray-bc);
    padding: 5rem;
}

#content-wrap {
    text-align: center;
    width: 36rem;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: .195rem solid var(--gray-border);
    padding: 3.5rem 2rem;
    margin-bottom: 4.5rem;
}

    .logo-ig {
        width: 11rem;
        margin-bottom: 4.8rem;
    }

    .pageResume {
        width: 80%;
        margin-bottom: 3rem;
    }

        .profileAndLink {
            width: 10.5rem;
        }

        .primaryAlert {
            color: var(--preto);
            font-size: 2.4rem;
            font-weight: 500;
            margin: 0.75em 0em;
        }

        .secondAlert {
            color: var(--gray-border);
            font-size: 1.5rem;
            font-weight: 100;
        }

    .confirmID {
        width: 100%;
        display: block;
    }

        .p455Row {
            border: .195rem solid var(--gray-border);
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: .6rem;
            outline: none;
            background-color: var(--gray-bc);
        }

            .p455Row.red-border {
                border-color: #9b9b9b;
            }
        
            #p455, .entrar {
                width: 100%;
                font-size: 1.5rem;
                border: 1px solid red;
                outline: none;
            }

                .p455Row, .entrar {
                    height: 4.5rem;
                }

                #p455 {
                    padding: 0em 1.5rem 0em 1.5rem;
                    border: none;
                    height: 80%;
                    background-color: var(--gray-bc);
                }

                    #p455::placeholder {
                        color: var(--gray-border);
                    }

                .eye {
                    display: none;
                }

                .actVisual {
                    color: var(--preto);
                    margin: 0 1.5rem 0 1rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    cursor: pointer;
                }

            .entrar {
                border: none;
                margin-top: 1.2rem;
                color: #FFF;
                background-color: var(--light-blue);
                border-radius: .6rem;
                cursor: pointer;
            }

        .forgetInfo {
            color: var(--gray-border);
            margin-top: 1.2rem;
            font-size: 1.3rem;
            width: 85%;
        }

            .forgetInfo>p>a {
                color: var(--dark-blue-link);
                text-decoration: none;
            }

.getAppsArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

    .getAppsArea>p {
        color: var(--preto);
        font-size: 1.8rem;
    }

    .iconsGetAppsArea {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.2rem;
        margin-top: 1.2rem;
    }

        .iconsGetAppsArea>a>img {
            height: 4.2rem;
        }

#footer {
    position: absolute;
    bottom: 0;
    margin: 3.5rem 0;
}


    #footer>img {
        height: 3rem;
    }

}

@media screen and (max-width: 480px) and (orientation: portrait){

#page-container {
    padding: 0;
    background-color: #fff;
}
        
#content-wrap {
    width: 100%;
}
        
.formLogin {
    border: none;
}
        
.getAppsArea {
    display: none;
}
        
}
